.tit-font {
  font-size: 24px;
}
.btn {
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
}
.btn-green-big {
  background: url("/static/images/arrow-btn.png") no-repeat;
  background-position: calc(100% - 38px) center;
  background-size: 15px auto;
  padding: 13px 62px 13px 56px;
  font-size: 16px;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  background-color: #27be9f;
  color: #ffffff;
}
.btn-green-big:hover {
  background-color: #18aa8c;
  color: #ffffff;
}
.btn-green-small {
  height: 38px;
  width: 110px;
  text-align: center;
  line-height: 38px;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  background-color: #27be9f;
  color: #ffffff;
}
.btn-green-small:hover {
  background-color: #18aa8c;
  color: #ffffff;
}
.btn-yellow-big {
  background: url("/static/images/arrow-btn.png") no-repeat;
  background-position: calc(100% - 38px) center;
  background-size: 15px auto;
  padding: 13px 62px 13px 56px;
  font-size: 16px;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  background-color: #ffC820;
  color: #ffffff;
}
.btn-yellow-big:hover {
  background-color: #efb608;
  color: #ffffff;
}
