//主字体颜色(深）
@Font-main-color-l: #565656;

//主字体颜色(浅)
@Font-main-color-b: #6d6d6d;

//灰色边框
@Gray-color: #dcdcdc;

//图片路径
@Base-url: "/static/images";

//首页主体宽度
@HOME_MAIN_W: 1200px;

//Header searchBox  字体块高
@HEADER_AREA_H: 36px;

//浅绿色
@Greenishness: #27be9f;

//深绿色，hover
@Green_Bottle: #18aa8c;

//浅黄色
@Yellowshness: #ffC820;

//深黄色, hover
@Yellow_Bottle: #efb608;