<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>职客 | 寻找任务</title>
    <link rel="stylesheet" href="/static/css/common.min.css" />
    <style>
        .task-find ._banner{background:url(/static/images/task-f-banner.jpg) no-repeat center bottom/cover;height:180px}.task-find .chose{border:1px solid #dcdcdc;border-radius:3px;margin:20px auto auto;padding:20px;text-align:left;width:1145px}.task-find .chose ._tit{border-bottom:1px solid #dcdcdc;padding-bottom:20px;padding-left:20px}.task-find .condition{padding-left:20px}.task-find .pick-item{margin-top:8px;padding-left:80px;position:relative}.task-find .pick-item .pick-head{left:0;position:absolute}.task-find .pick-item .pick-body li{float:left;margin-right:20px}.task-find .task-f-list{margin:auto;width:1145px}.task-find .task-f-item{border:1px solid #dcdcdc;border-radius:3px;padding:20px 50px;position:relative;text-align:left;margin-bottom:20px}.task-find .task-f-item ._tit{font-size:20px;color:#565656}.task-find .task-f-item .buget{position:absolute;right:50px;top:20px}.task-find .task-f-item .task-operation{position:absolute;bottom:20px;right:50px}
    </style>
</head>
<body>
<div class="shadow5">
    <div id="header">
    <img class="logo fl" src="/static/images/logo.png">
    <div class="search-box-us fl ml50">
        <form onsubmit="return search()">
            <input class="search-str" placeholder="输入您需要搜索的内容" />
        </form>
    </div>

    <div class="header-nav">
        <div class="task-h-us">
            <ul>
                <li class="curr">任务管理</li>
                <li>寻找职客</li>
            </ul>
        </div>

    </div>

    <div class="fr noLogin none">
        <ul class="reg-log fl">
            <li><a href="##">登录</a></li>
            <li><a href="##">注册</a></li>
        </ul>
        <div class="btn-green-small">成为职客</div>
    </div>
    <div class="fr logined">
        <ul class="reg-log fl">
            <li><span class="task-remin"><i class="rem">2</i></span></li>
            <li><a href="##">个人中心</a></li>
        </ul>
    </div>
</div>
</div>
<div class="bcenter">
    <div class="task-find">
        <div class="_banner"></div>
        <div class="chose">
            <div class="_tit">筛选条件</div>
            <div class="condition">
                <div class="pick-item city-pick">
                    <span class="pick-head">所在城市：</span>
                    <div class="pick-body clearfix">
                        <ul>
                            <li>全部</li>
                            <li>北京</li>
                            <li>上海</li>
                            <li>深圳</li>
                            <li>广州</li>
                            <li>杭州</li>
                            <li>南京</li>
                            <li>成都</li>
                            <li>武汉</li>
                            <li>厦门</li>
                            <li>长沙</li>
                            <li>天津</li>
                        </ul>
                    </div>
                </div>
                <div class="pick-item worktp-pick">
                    <span class="pick-head">所属领域：</span>
                    <div class="pick-body clearfix">
                        <ul>
                            <li>全部</li>
                            <li>设计</li>
                            <li>开发</li>
                            <li>产品</li>
                            <li>翻译</li>
                            <li>职能</li>
                            <li>文案</li>
                            <li>咨询</li>
                            <li>PTT</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <p class="alph40" style="line-height: 40px;">筛选结果如下</p>
        <div class="task-f-list">
            <div class="task-f-item">
                <p class="task-tit">
                    <span class="_tit">做一个app,钱不是问题</span>
                    <span><i class="icon icon-address"></i>北京</span>
                </p>
                <div class="mt15">
                    <span class="mr10">3天前发布</span>
                    <span class="mr10">倾向 <i class="linkstyle">个人</i> 完成</span>
                    <span class="mr10">要求 <i class="linkstyle">9月27日前</i> 完成</span>
                </div>
                <div class="task-detail mt20">
                    <span class="mr10"><i class="icon icon-team"></i>北京奥体科技有限公司</span>
                    <span class="mr10"><i class="icon icon-address">北京</i></span>
                    <span class="mr50">共发布 <i class="linkstyle">10</i> 个任务，成交率 <i>90%</i>，交易总额<i>2340000</i> 元</span>
                </div>
                <div class="buget">
                    <span class="alph40">资金预算／元</span>
                    <span class="">5000-6000</span>
                </div>
                <div class="task-operation">
                    <button class="btn-green-small mr15">查看详情</button>
                </div>
            </div>

            <div class="task-f-item">
                <p class="task-tit">
                    <span class="_tit">做一个app,钱不是问题</span>
                    <span><i class="icon icon-address"></i>北京</span>
                </p>
                <div class="mt15">
                    <span class="mr10">3天前发布</span>
                    <span class="mr10">倾向 <i class="linkstyle">个人</i> 完成</span>
                    <span class="mr10">要求 <i class="linkstyle">9月27日前</i> 完成</span>
                </div>
                <div class="task-detail mt20">
                    <span class="mr10"><i class="icon icon-team"></i>北京奥体科技有限公司</span>
                    <span class="mr10"><i class="icon icon-address">北京</i></span>
                    <span class="mr50">共发布 <i class="linkstyle">10</i> 个任务，成交率 <i>90%</i>，交易总额<i>2340000</i> 元</span>
                </div>
                <div class="buget">
                    <span class="alph40">资金预算／元</span>
                    <span class="">5000-6000</span>
                </div>
                <div class="task-operation">
                    <button class="btn-green-small mr15">查看详情</button>
                </div>
            </div>

            <div class="task-f-item">
                <p class="task-tit">
                    <span class="_tit">做一个app,钱不是问题</span>
                    <span><i class="icon icon-address"></i>北京</span>
                </p>
                <div class="mt15">
                    <span class="mr10">3天前发布</span>
                    <span class="mr10">倾向 <i class="linkstyle">个人</i> 完成</span>
                    <span class="mr10">要求 <i class="linkstyle">9月27日前</i> 完成</span>
                </div>
                <div class="task-detail mt20">
                    <span class="mr10"><i class="icon icon-team"></i>北京奥体科技有限公司</span>
                    <span class="mr10"><i class="icon icon-address">北京</i></span>
                    <span class="mr50">共发布 <i class="linkstyle">10</i> 个任务，成交率 <i>90%</i>，交易总额<i>2340000</i> 元</span>
                </div>
                <div class="buget">
                    <span class="alph40">资金预算／元</span>
                    <span class="">5000-6000</span>
                </div>
                <div class="task-operation">
                    <button class="btn-green-small mr15">查看详情</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal_wraper none">
        <div class="modal"></div>
        <div class="modal_box" style="width: 668px;">
            <div class="modal_header">用户反馈</div>
            <div class="modal_content">

                <form style="width:456px;margin:auto;">
                    <div class="form-group">
                        <label class="label w70">真实姓名</label>
                        <div class="dib w380">
                            <input class="input-const" name="real_name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label w70">电话</label>
                        <div class="dib w380">
                            <input class="input-const" name="mobile" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label w70">邮箱</label>
                        <div class="dib w380">
                            <input class="input-const" name="email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label label-bl">反馈内容</label>
                        <div>
                            <textarea class="input-const" style="height: 120px;resize: none;" placeholder="请输入描述文字"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="w300 dib">
                            <input class="input-const" placeholder="输入验证码"/>
                        </div>
                        <div class="vcodeImg"></div>
                    </div>
                </form>

                <div class="mt25">
                    <button class="btn-green-middle">提交反馈</button>
                    <button class="btn-denial">取消</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal_wraper none">
        <div class="modal"></div>
        <div class="modal_box" style="width: 668px;">
            <div class="modal_header">反馈成功</div>
            <div class="modal_content">

                <div>
                    <img src="/static/images/feedback-succ.png" />
                    <p>提交反馈成功！感谢您的支持！</p>
                </div>

                <div class="mt25">
                    <button class="btn-green-middle">提交反馈</button>
                    <button class="btn-denial">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/aio.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/1.10.1/jquery.min.js"></script>
</body>
</html>