<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>兼职网</title>
    <link rel="stylesheet" href="/static/css/common.min.css" />
</head>
<body>
    <div id="header">
        <img class="logo fl" src="/static/images/logo.png">
        <div class="search-box fl ml50">
            <div class="search-list">
                <div class="curr-chose">搜职客</div>
                <ul class="search-sel none">
                    <li>搜职客1</li>
                    <li>搜职客2</li>
                </ul>
            </div>
            <input class="search-str" />
        </div>

        <div class="header-nav">
            <ul>
                <li>服务领域</li>
                <li>用户指南</li>
            </ul>
        </div>

        <div class="fr">
            <ul class="reg-log fl">
                <li><a href="##">登录</a></li>
                <li><a href="##">注册</a></li>
            </ul>
            <div class="btn-green-small">成为职客</div>
        </div>
    </div>
    <div class="banner">
        <img src="/static/images/banner.jpg" width="100%" />
    </div>
    <div class="find-work">
        <h2 class="sec-tit">找到适合你的人才</h2>
        <div class="work-list clearfix">
            <div class="work-item">
                <img src="/static/images/translater.png" />
                <p class="w-item-name">翻译</p>
                <div class="item-jobs">
                    <a href="#">日语</a> / <a href="#">英语</a> ／ <a href="#">法语</a> ／ <a href="#">希腊语</a><br/>
                    <a href="#">西班牙语</a> / <a href="#">德语</a> / <a href="#">韩语</a> / <a href="#">老挝语</a><br/>
                    <a href="#">藏语</a> / <a href="#">阿拉伯语</a> / <a href="#">荷兰语</a>
                </div>
            </div>
            <div class="work-item">
                <img src="/static/images/translater.png" />
                <p class="w-item-name">翻译</p>
                <div class="item-jobs">
                    <a href="#">日语</a> / <a href="#">英语</a> ／ <a href="#">法语</a> ／ <a href="#">希腊语</a><br/>
                    <a href="#">西班牙语</a> / <a href="#">德语</a> / <a href="#">韩语</a> / <a href="#">老挝语</a><br/>
                    <a href="#">藏语</a> / <a href="#">阿拉伯语</a> / <a href="#">荷兰语</a>
                </div>
            </div>
            <div class="work-item">
                <img src="/static/images/translater.png" />
                <p class="w-item-name">翻译</p>
                <div class="item-jobs">
                    <a href="#">日语</a> / <a href="#">英语</a> ／ <a href="#">法语</a> ／ <a href="#">希腊语</a><br/>
                    <a href="#">西班牙语</a> / <a href="#">德语</a> / <a href="#">韩语</a> / <a href="#">老挝语</a><br/>
                    <a href="#">藏语</a> / <a href="#">阿拉伯语</a> / <a href="#">荷兰语</a>
                </div>
            </div>
            <div class="work-item">
                <img src="/static/images/translater.png" />
                <p class="w-item-name">翻译</p>
                <div class="item-jobs">
                    <a href="#">日语</a> / <a href="#">英语</a> ／ <a href="#">法语</a> ／ <a href="#">希腊语</a><br/>
                    <a href="#">西班牙语</a> / <a href="#">德语</a> / <a href="#">韩语</a> / <a href="#">老挝语</a><br/>
                    <a href="#">藏语</a> / <a href="#">阿拉伯语</a> / <a href="#">荷兰语</a>
                </div>
            </div>
            <div class="work-item">
                <img src="/static/images/translater.png" />
                <p class="w-item-name">翻译</p>
                <div class="item-jobs">
                    <a href="#">日语</a> / <a href="#">英语</a> ／ <a href="#">法语</a> ／ <a href="#">希腊语</a><br/>
                    <a href="#">西班牙语</a> / <a href="#">德语</a> / <a href="#">韩语</a> / <a href="#">老挝语</a><br/>
                    <a href="#">藏语</a> / <a href="#">阿拉伯语</a> / <a href="#">荷兰语</a>
                </div>
            </div>
            <div class="work-item">
                <img src="/static/images/translater.png" />
                <p class="w-item-name">翻译</p>
                <div class="item-jobs">
                    <a href="#">日语</a> / <a href="#">英语</a> ／ <a href="#">法语</a> ／ <a href="#">希腊语</a><br/>
                    <a href="#">西班牙语</a> / <a href="#">德语</a> / <a href="#">韩语</a> / <a href="#">老挝语</a><br/>
                    <a href="#">藏语</a> / <a href="#">阿拉伯语</a> / <a href="#">荷兰语</a>
                </div>
            </div>
            <div class="work-item">
                <img src="/static/images/translater.png" />
                <p class="w-item-name">翻译</p>
                <div class="item-jobs">
                    <a href="#">日语</a> / <a href="#">英语</a> ／ <a href="#">法语</a> ／ <a href="#">希腊语</a><br/>
                    <a href="#">西班牙语</a> / <a href="#">德语</a> / <a href="#">韩语</a> / <a href="#">老挝语</a><br/>
                    <a href="#">藏语</a> / <a href="#">阿拉伯语</a> / <a href="#">荷兰语</a>
                </div>
            </div>
            <div class="work-item">
                <img src="/static/images/translater.png" />
                <p class="w-item-name">翻译</p>
                <div class="item-jobs">
                    <a href="#">日语</a> / <a href="#">英语</a> ／ <a href="#">法语</a> ／ <a href="#">希腊语</a><br/>
                    <a href="#">西班牙语</a> / <a href="#">德语</a> / <a href="#">韩语</a> / <a href="#">老挝语</a><br/>
                    <a href="#">藏语</a> / <a href="#">阿拉伯语</a> / <a href="#">荷兰语</a>
                </div>
                <span class="work-more"> </span>
            </div>
        </div><!-- work-list end -->

        <div class="btn-yellow-big mt20">更多领域</div>
    </div>
    <div class="project-flow">
    </div>
    <div class="work-group-rating">
        <div class="wgr-item">
            <p class="tit-font">职客群体</p>
            <div class="wgr-des wgr-group">
                <div class="des-bgimg"></div>
                <p class="wgr-p">个人、团体以及企业都可以申请竞标任务，不同的群体适合完成不同<br>
                    的大小类型任务，您可以发布任务时指定某个职客群体</p>

            </div>
        </div>
        <div class="wgr-item">
            <p class="tit-font">职客评级体系</p>
            <div class="wgr-des wgr-rating">
                <div class="des-bgimg"></div>
                <p class="wgr-p">专业技能、服务态度、服务质量会转化为1-9的数值<br>
                    分值越高，职客的综合能力越强</p>

            </div>
        </div>
    </div>
    <div class="comment-carous">
        <div class="carous-cont">
            <div class="carous-list clearfix">
                <div class="carous-item-wrap">
                    <div class="carous-item">
                        <div class="pic-wrap">
                            <img src="/static/images/pp1.jpg">
                        </div>
                        <p class="p-name">赵丽</p>
                        <p class="p-comt">至今为止，我已经浏览您们网站三年多了，同我除此接触相比你们做了很大
                            的改善，研究成果很好的被组织起来，不需要化很长时间就能找到我需要的东西。</p>
                        <img class="quote" src="/static/images/coment.png" />
                        <div class="come-from">
                            <span>奥美广告 | UED总监</span>
                        </div>
                    </div>
                    <div class="carous-item curr">
                        <div class="pic-wrap">
                            <img src="/static/images/pp1.jpg">
                        </div>
                        <p class="p-name">赵丽</p>
                        <p class="p-comt">至今为止，我已经浏览您们网站三年多了，同我除此接触相比你们做了很大
                            的改善，研究成果很好的被组织起来，不需要化很长时间就能找到我需要的东西。</p>
                        <img class="quote" src="/static/images/coment.png" />
                        <div class="come-from">
                            <span>奥美广告 | UED总监</span>
                        </div>
                    </div>
                    <div class="carous-item">
                        <div class="pic-wrap">
                            <img src="/static/images/pp1.jpg">
                        </div>
                        <p class="p-name">赵丽</p>
                        <p class="p-comt">至今为止，我已经浏览您们网站三年多了，同我除此接触相比你们做了很大
                            的改善，研究成果很好的被组织起来，不需要化很长时间就能找到我需要的东西。</p>
                        <img class="quote" src="/static/images/coment.png" />
                        <div class="come-from">
                            <span>奥美广告 | UED总监</span>
                        </div>
                    </div>
                    <div class="carous-item">
                        <div class="pic-wrap">
                            <img src="/static/images/pp1.jpg">
                        </div>
                        <p class="p-name">赵丽</p>
                        <p class="p-comt">至今为止，我已经浏览您们网站三年多了，同我除此接触相比你们做了很大
                            的改善，研究成果很好的被组织起来，不需要化很长时间就能找到我需要的东西。</p>
                        <img class="quote" src="/static/images/coment.png" />
                        <div class="come-from">
                            <span>奥美广告 | UED总监</span>
                        </div>
                    </div>
                    <div class="carous-item">
                        <div class="pic-wrap">
                            <img src="/static/images/pp1.jpg">
                        </div>
                        <p class="p-name">赵丽</p>
                        <p class="p-comt">至今为止，我已经浏览您们网站三年多了，同我除此接触相比你们做了很大
                            的改善，研究成果很好的被组织起来，不需要化很长时间就能找到我需要的东西。</p>
                        <img class="quote" src="/static/images/coment.png" />
                        <div class="come-from">
                            <span>奥美广告 | UED总监</span>
                        </div>
                    </div>
                </div>
            </div>
            <span class="carous-pre carous-op"></span>
            <span class="carous-next carous-op"></span>
            <div class="carous-inex">
                <ul>
                    <li data-index="0"> </li>
                    <li data-index="1" class="curr"> </li>
                    <li data-index="2"> </li>
                    <li data-index="3"> </li>
                    <li data-index="4"> </li>
                </ul>
            </div>

        </div> <!-- carous-cont-->
    </div>
    <div id="footer">

    </div>

<script src="/static/js/aio.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/1.10.1/jquery.min.js"></script>
<script src="/static/js/home.js"></script>
</body>
</html>