<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>职客 | 注册</title>
    <link rel="stylesheet" href="/static/css/common.min.css" />
    <style>
        .test_regist-pre_test{content:""}.regist-tit{color:#6d6d6d;font-size:20px;padding:48px 0}.p-item{float:left;padding-bottom:100px;padding-top:68px;position:relative;width:50%}.p-item.p-boss:after{border-right:1px solid #ddd;content:" ";height:100%;position:absolute;right:0;top:0}.p-item .p-item-pic{width:114px}.p-item .p-tit-b{color:#6d6d6d;font-size:18px;margin-top:30px}.p-item .p-tit-s{color:rgba(0,0,0,.4);font-size:14px;margin-bottom:50px;margin-top:14px}
    </style>
</head>
<body>
<div class="shadow5">
    <div id="header">
    <img class="logo fl" src="/static/images/logo.png">
    <div class="search-box fl ml50">
        <div class="search-list">
            <div class="curr-chose">搜职客</div>
            <ul class="search-sel none">
                <li>搜职客1</li>
                <li>搜职客2</li>
            </ul>
        </div>
        <input class="search-str" />
    </div>

    <div class="header-nav">
        <ul>
            <li>服务领域</li>
            <li>用户指南</li>
        </ul>
    </div>

    <div class="fr">
        <ul class="reg-log fl">
            <li><a href="##">登录</a></li>
            <li><a href="##">注册</a></li>
        </ul>
        <div class="btn-green-small">成为职客</div>
    </div>
</div>
</div>
<div class="maincenter clearfix w800">
    <p class="regist-tit">首先，告诉我们您要做什么</p>

    <div class="p-item p-boss">
        <img class="p-item-pic" src="/static/images/zhike_pic.png"/>
        <p class="p-tit-b">我有一个项目需要完成</p>
        <p class="p-tit-s">寻找职客，合作，支付报酬</p>

        <button class="btn-green-small">我是老板</button>
    </div>
    <div class="p-item">
        <img class="p-item-pic" src="/static/images/zhike_pic.png"/>
        <p class="p-tit-b">我想在网上找项目</p>
        <p class="p-tit-s">寻找任务，竞标，获取报酬</p>

        <button class="btn-yellow-small">我是职客</button>
    </div>
</div>

<script src="/static/js/aio.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/1.10.1/jquery.min.js"></script>
</body>
</html>